<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Home</title>
    <link href="@Url.Content("~/styles/pacotes.css")" rel="stylesheet" />
</head>
<body>
    <header>

        <div id="Header_Organizador">
            <div>
                <a href='@Url.Action("Index", "Home")'><p><img src="~/img/Logo.png"></p></a>
            </div>

            <div>
                <a href="#.html"><p><img src="~/img/logout_branco.png"></p></a>
            </div>
        </div>
    </header>

    <section>
        <h1>Pacotes Atuais</h1>
        <div id="endireitar_o_endireitar">
            <div id="endireitar">
                <div></div>
                <div class="wrapper">
                    <a href="#.html"><div class="botao"><p>10 por 120,00 R$</p><</div></a>
                    <a href="#.html"><div class="botao"><p>2 ingressos pelo valor de 4</p></div></a>
                    <a href="#.html"><div class="botao"><p>50 por 600,00 R$</p></div></a>
                    <a href="#.html"><div class="botao"><p>6 por 65,50 R$</p></div></a>
                    <a href="#.html"><div class="botao"><p>- - - - - - - - - -</p></div></a>
                    <a href="#.html"><div class="botao"><p>- - - - - - - - - -</p></div></a>
                    <a href="#.html"><div class="botao_vermelho"><p>Excluir</p></div></a>
                    <a href='@Url.Action("CadastrarPacotes", "CadastroDePacotes")'><div class="botao_verde"><p>Adicionar +</p></div></a>
                </div>
                <div></div>
            </div>
        </div>
    </section>

    <footer>
        <div>
            <p>Copyright © 2023 AgendMovies</p>
        </div>

        <div>
            <ol>
                <a href="#.html">
                <li><img src="~/img/insta.png"></li></a>
                <a href="#.html">
                <li><img src="~/img/face.png"></li></a>
                <a href="#.html">
                <li><img src="~/img/twitter.png"></li></a>
            </ol>
        </div>
    </footer>
</body>
</html>