<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Dashboard Funcionário</title>
    <link href="@Url.Content("~/styles/funcionariopage.css")" rel="stylesheet" />
</head>
<body>
    <header>

        <div id="Header_Organizador">
            <div>
                <a href="index.html"><p><img src="~/img/Logo.png"></p></a>
            </div>

            <div>
                <a href="#.html"><p><img src="~/img/logout_branco.png"></p></a>
            </div>
        </div>
    </header>

    <section>
        <a href="funcionario02.html"><img src="~/img/mil.png"></a>
        <div id="grande_caixa">

            <div id="separador">
                <h2>Pacotes de Ingressos</h2>
                <div><a href="#.html"><p>Combo Avatar, 10 assentos</p></a><a href="#.html"><div id="preço"><p>74,50</p></div></a></div>
                <div><a href="#.html"><p>Para familia, Os Croods</p></a><a href="#.html"><div id="preço"><p>57,00</p></div></a></div>
                <div><a href="#.html"><p>Para descontrair</p></a><a href="#.html"><div id="preço"><p>39,99</p></div></a></div>
                <div><a href="#.html"><p>Pipica com chocolate</p></a><a href="#.html"><div id="preço"><p>20,00</p></div></a></div>
            </div>

            <div id="separador">
                <h2>Sessões de Hoje</h2>
                <div><a href="#.html"><p>sessões das 12:00</p></a><img src="~/img/red.png"></div>
                <div><a href='@Url.Action("Funcionario02", "Funcionario02")'><p>sessões das 13:00</p></a><img src="~/img/green.png"></div>
                <div><a href="#.html"><p>sessões das 16:00</p></a><img src="~/img/green.png"></div>
                <div><a href="#.html"><p>sessões das 20:00</p></a><img src="~/img/green.png"></div>
            </div>

        </div>
    </section>

    <footer>
        <div>
            <p>Copyright © 2023 AgendMovies</p>
        </div>

        <div>
            <ol>
                <a href="#.html">
                <li><img src="~/img/insta.png"></li></a>
                <a href="#.html">
                <li><img src="~/img/face.png"></li></a>
                <a href="#.html">
                <li><img src="~/img/twitter.png"></li></a>
            </ol>
        </div>
    </footer>
</body>
</html>