<!DOCTYPE html>
<html lang="br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-height, initial-scale=1.0">
    <title>website agendmovies login & cadastro</title>
    <link href="@Url.Content("~/styles/login.css")" rel="stylesheet" />
</head>

<body style="background-image: url(@Url.Content("~/img/loginbackground.png"));">

    <header>
        <a href='@Url.Action("Index", "Home")'>
            <h2 class="logo"><img src="~/img/Logo.png"></h2>
        </a>
        <nav class="navigation">
            <a href="filmes.html">Filmes</a>
            <a href="funcionario01.html">Calendario</a>
            <a href="pacotes.html">Cinemas</a>
            <button class="btnLogin-popup">Login</button>
        </nav>
    </header>
    <main>
        <div class="wrapper">
            <div class="form-box_login">
                <!-- <img src="img/Logo.png"> -->
                <h2 class="login">Login</h2>
                <form action="#">
                    <div class="input-box">
                        <span class="icon"><ion-icon name="mail"></ion-icon></span>
                        <input type="text" id="email_colocado" required>
                        <label>Email</label>
                    </div>
                    <div class="input-box">
                        <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                        <input type="password" id="senha_colocada" required>
                        <label>Password</label>
                    </div>
                    <div class="lembrar">
                        <label><input type="checkbox">Se lembre de mim</label>
                        <a href='@Url.Action("EsquecerSenha1etapa", "EsquecerSenha1etapa")'>Esqueceu a senha?</a>
                    </div>
                    <input type="submit" value="Login" class="btn" onclick="logar(); return false">
                    <div class="login-registro">

                        <p class="ajuste">
                            Ainda não tem uma conta?
                            <a href="#" class="register-link">Cadastre-se</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
        <script src="script.js"></script>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </main>

    <script>
        function logar() {

            var login = document.getElementById('email_colocado').value;
            var senha = document.getElementById('senha_colocada').value;

            if (login == "miltongurgel@escolar.ifrn.edu.br" && senha == "246629") {
                location.href = "/Home/Index";
            } else {
                alert('Usurio ou senha incorretos.')
            }
        }
    </script>

</body>

</html>

