<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Home</title>
    <link href="@Url.Content("~/styles/filmes.css")" rel="stylesheet" />
</head>
<body>
    <header>
        <div id="Header_Organizador">
            <div>
                <a href='@Url.Action("Index", "Home")'><p><img src="~/img/Logo.png"></p></a>
            </div>
            <div>
                <a href="#.html"><p><img src="~/img/Sol.png"></p></a>
                <a href="login.html"><p><img src="~/img/Perfil.png"></p></a>
            </div>
        </div>
    </header>
    <!-- 246 -->
    <section>
        <div id="FCC">
            <ol>
                <a href="filmes.html">
                <li><p>Filmes</p></li></a>
                <a href="calendario.html">
                <li><p>Calendario</p></li></a>
                <a href="cinemas.html">
                <li><p>Cinemas</p></li></a>
                <a href="mapa.html">
                <li><p>Mapa de links</p></li></a>
            </ol>
        </div>
        <div id="cards_filmes">
            <h1>NESSA SEMANA</h1>
            <ol>
                <a href="#.html">
                <li>
                    <img src="~/img/Campeoes.png">
                    <div>
                        <img src="~/img/ci14.png" alt="classificação indicativa">
                        <img src="~/img/dbox.png" alt="dbox">
                    </div>
                </li>
                </a>
                <a href="#.html">
                <li>
                    <img src="~/img/Elemental.png">
                    <div>
                        <img src="~/img/ciL.png" alt="classificação indicativa">
                        <img src="~/img/dbox.png" alt="dbox">
                    </div>
                </li>
                </a>
                <a href="#.html">
                <li>
                    <img src="~/img/John_Wick.png">
                    <div>
                        <img src="~/img/ci14.png" alt="classificação indicativa">
                        <img src="~/img/dbox.png" alt="dbox">
                    </div>
                </li>
                </a>
                <a href="#.html">
                <li>
                    <img src="~/img/O_nascimento_do_mal.png">
                    <div>
                        <img src="~/img/ci12.png" alt="classificação indicativa">
                        <img src="~/img/dbox.png" alt="dbox">
                    </div>
                </li>
                </a>
                <a href="#.html">
                <li>
                    <img src="~/img/Bacurau.png">
                    <div>
                        <img src="~/img/ci12.png" alt="classificação indicativa">
                        <img src="~/img/dbox.png" alt="dbox">
                    </div>
                </li>
                </a>
                <a href="#.html">
                <li>
                    <img src="~/img/Que_horas_eu_te_pego.png">
                    <div>
                        <img src="~/img/ciL.png" alt="classificação indicativa">
                        <img src="~/img/dbox.png" alt="dbox">
                    </div>
                </li>
                </a>
                <a href="#.html">
                <li>
                    <img src="~/img/vizinho.png">
                    <div>
                        <img src="~/img/ci12.png" alt="classificação indicativa">
                        <img src="~/img/dbox.png" alt="dbox">
                    </div>
                </li>
                </a>
            </ol>
            <h1>EM PROMOÇÃO</h1></h1>
            <ol>
                <a href="listafuncionarios.html">
                <li>
                    <img src="~/img/Campeoes.png">
                    <div>
                        <img src="~/img/ci14.png" alt="classificação indicativa">
                        <img src="~/img/dbox.png" alt="dbox">
                    </div>
                </li>
                </a>
                <a href="#.html">
                <li>
                    <img src="~/img/Elemental.png">
                    <div>
                        <img src="~/img/ciL.png" alt="classificação indicativa">
                        <img src="~/img/dbox.png" alt="dbox">
                    </div>
                </li>
                </a>
                <a href="#.html">
                <li>
                    <img src="~/img/John_Wick.png">
                    <div>
                        <img src="~/img/ci14.png" alt="classificação indicativa">
                        <img src="~/img/dbox.png" alt="dbox">
                    </div>
                </li>
                </a>
                <a href="#.html">
                <li>
                    <img src="~/img/O_nascimento_do_mal.png">
                    <div>
                        <img src="~/img/ci12.png" alt="classificação indicativa">
                        <img src="~/img/dbox.png" alt="dbox">
                    </div>
                </li>
                </a>
                <a href="#.html">
                <li>
                    <img src="~/img/Bacurau.png">
                    <div>
                        <img src="~/img/ci12.png" alt="classificação indicativa">
                        <img src="~/img/dbox.png" alt="dbox">
                    </div>
                </li>
                </a>
                <a href="#.html">
                <li>
                    <img src="~/img/Que_horas_eu_te_pego.png">
                    <div>
                        <img src="~/img/ciL.png" alt="classificação indicativa">
                        <img src="~/img/dbox.png" alt="dbox">
                    </div>
                </li>
                </a>
                <a href="#.html">
                <li>
                    <img src="~/img/vizinho.png">
                    <div>
                        <img src="~/img/ci12.png" alt="classificação indicativa">
                        <img src="~/img/dbox.png" alt="dbox">
                    </div>
                </li>
                </a>
            </ol>
            <h1>EM BREVE</h1>
            <a href="#.html">
                <div id="eventual_carrocel">
                </div>
            </a>
            <h1>D-BOX</h1>
        </div>
        <div id="container_seis">
            <div><a href="#.html"><img src="~/img/Perlimps.png"></a></div>
            <div><a href="#.html"><img src="~/img/Perlimps.png"></a></div>
            <div><a href="#.html"><img src="~/img/Perlimps.png"></a></div>
            <div><a href="#.html"><img src="~/img/Perlimps.png"></a></div>
            <div><a href="#.html"><img src="~/img/Perlimps.png"></a></div>
            <div><a href="#.html"><img src="~/img/Perlimps.png"></a></div>
        </div>
        <div><h1>EM-XD</h1></div>
        <div id="container">
            <div><a href="#.html"><img src="~/img/Perlimps.png"></a></div>
            <div><a href="#.html"><img src="~/img/Perlimps.png"></a></div>
            <div><a href="#.html"><img src="~/img/Perlimps.png"></a></div>
            <div><a href="#.html"><img src="~/img/Perlimps.png"></a></div>
        </div>
    </section>
    <footer>
        <div>
            <p>Copyright © 2023 AgendMovies</p>
        </div>
        <div>
            <ol>
                <a href="#.html">
                <li><img src="~/img/insta.png"></li></a>
                <a href="#.html">
                <li><img src="~/img/face.png"></li></a>
                <a href="#.html">
                <li><img src="~/img/twitter.png"></li></a>
            </ol>
        </div>
    </footer>
</body>
</html>