@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  
}
input{
  outline: none;
  color: white;
}
li{
  list-style-type: none;
}

a{
  text-decoration: none;
}

header{
  width: 100%;
  background-color: #ffffff;
}

/* #Header_Organizador {
  display: flex;
  justify-content: space-between;
}

#md{
    display: flex;
    align-items: center;
    gap: 1em;
    padding-right: 3em;
  }

#hli{
  display: flex;
  gap: 7em;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
}

#hli li p{
  font-size: 25px;
}

#per{
  font-size: 25px;
}

footer{
  
  width: 100%;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  box-sizing: border-box;
  padding: 1em 10px;
}

footer ol{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

footer ol li{
  margin-left: 1em;
}

footer p{
  margin-left: 1.5em;
  color: white;
}

footer div img{
  width: 2em;
  margin: 2em;

}

footer div{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

footer{
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  
}
 */
#loucura{
  width: 1.5em;
  
}

#loucura2{
  width: 5em;
}

main{
        display: flex;
    background: black;

    align-items: center;
    justify-content: space-around;
    flex-direction: column;

}
    main section {
        margin-top: 2em;
    }

main h1{
  color: white;
  text-align: center;
}

main p{
  color: white;
}

.horario{
  display: flex;
    gap: 5em;
}

.horario div{
  display: flex;
  padding: 1em;
  align-items: center;
  gap: 13px;
}

#seg{
      display: flex;
    justify-content: space-around;
    gap: 8em;
}

#seg div{
      display: flex;
    align-items: center;
    gap: 13px;
}

#seg div input{
      border-left: transparent;
    border-right: transparent;
    border-top: transparent;
    background-color: transparent;
    color: white;
}

label{
  display: flex;
  gap: 13px;
}

label select{
    width: 37em;
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
    background-color: transparent;
    margin-bottom: 2em;
    color: white;
}

.horario div input{
    background: transparent;
    border: 3px solid white;
    border-radius: 5px;
  color: white;
}

#botao{
      color: white;
    background-color: darkgreen;
    width: 10em;
    height: 3.5em;
    border-radius: 1em;
    text-align: center;
}

#b{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3em;
}

#hli li p{
   color: black;
}
