@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  
}
body{
  background-color: black;
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-wrap: wrap;
  min-height: 100vh;
}
header{
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
    padding: 20px 100px;
  position: fixed;
  left: 0;
  top: 0;
}
header > div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header > ol{
  display: flex;
  justify-content: center;
  align-items: center;
}
li {
  list-style-type: none;
}
a{
  text-decoration: none;
}
header > ol li{
  margin: 0 1em;

}
header > ol li a{
  color: black;
  font-weight: 500;
  font-size: 1rem;
  border-bottom: 2px solid transparent;
  transition-property: border-color;
  transition-timing-function: linear;
   transition-duration: 500ms;
}

header > ol li a:hover{
  border-bottom: 2px solid red;
}
footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
    padding: 80px 100px;
}
footer > ol{
  display: flex;
  justify-content: center;
  align-items: center;
}

footer > ol li{
  margin: 0 1em;

}
main{
  color: white;
  margin-top: 10em;
}


.pagAtual{
  border-bottom: 2px solid red;
}