@import url('https://fonts.googleapis.com/css2?family=Marvel&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Marvel', sans-serif;
}
li{
  list-style-type: none;
}
a{
  text-decoration: none;
}
body{
  background-color: black;
  display: flex;
  justify-content: center;
  align-content: space-between;
  min-height: 100vh;
  align-items: center;
  flex-wrap:wrap;
}
header, footer{
  width: 100%;
  background-color: #3C3C3C;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  box-sizing: border-box;
  padding: 1em 10px;
}
header{
  margin-bottom: 2em;
}
footer{
    margin-top: 2em;
}
footer ol{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;

}
footer ol li{
  margin-left: 1em;
}
footer p{
  margin-left: 1.5em;
  color: white;
}




main{
  color: white;
  width: 49%;
}
main h2{
  text-align: center;
  font-size: 200%;
  margin-bottom:5px;
  font-weight: normal;
}
.Conteudo{
  width: 100%;
  border: 2px solid white;
  border-radius: 10px;
  padding: 0.8em 10px;
  padding-top: 1.2em;
  font-size: 170%;
  box-sizing: border-box;
   display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
} 
.Conteudo > ol{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;

}
.Conteudo > ol li{
  width: 49%;
  text-align: center;
  margin-bottom: 15px;
  box-sizing: border-box;
  
}
.Conteudo > ol li a{
  background-color: #3A3A3A;
  border: 2px solid #B2B2B2;
  border-radius: 10px;
  box-sizing: border-box;
  color: white;
  display: block;
  width: 100%;
  padding: 1em;
  word-break: break-all;
}
.Conteudo > ol li a:hover{
  background-color: #6b6b6b;
}
.Conteudo > div{
  width: 100%;
}
.Conteudo > div ol{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  box-sizing: border-box;
}
.Conteudo > div ol li{
  min-width: 49%;
  margin-bottom: 10px;
  box-sizing: border-box;
  text-align: center;
}
.Adicionar{
   background-color: #00900E;
  border: 2px solid #B2B2B2;
  border-radius: 10px;
  box-sizing: border-box;
  color: white;
  display: block;
  width: 100%;
  padding: 1em;
}
.Adicionar:hover{
  background-color: #04b916;
}
.Excluir{
   background-color: #C00C0C;
  border: 2px solid #B2B2B2;
  border-radius: 10px;
  box-sizing: border-box;
  color: white;
  display: block;
  width: 100%;
  padding: 1em;
}
.Excluir:hover{
  background-color: #e01515;
}