<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Cadastro de Pacotes</title>
    <link href="@Url.Content("~/styles/pacotes_create.css")" rel="stylesheet" />
</head>
<body>
    <header>

        <div id="Header_Organizador">
            <div>
                <a href="index.html"><p><img src="~/img/Logo.png"></p></a>
            </div>

            <div>
                <a href="#.html"><p><img src="~/img/logout_branco.png"></p></a>
            </div>
        </div>
    </header>

    <section>
        <h1>Cadastrar pacote</h1>
        <div id="endireitar_o_endireitar">
            <div id="endireitar">
                <div></div>
                <div class="wrapper">
                    <a href="#.html"><div class="botao"><p>10 Ingressos</p></div></a>
                    <a href="#.html"><div class="botao"><p>20 Ingressos</p></div></a>
                    <a href="#.html"><div class="botao"><p>25 Ingressos</p></div></a>
                    <a href="#.html"><div class="botao"><p>30 Ingressos</p></div></a>
                    <a href="#.html"><div class="botao"><p>40 Ingressos</p></div></a>
                    <a href="#.html"><div class="botao"><p>50 Ingressos</p></div></a>
                </div>
                <div></div>
            </div>
        </div>
        <h1>Anexar Filme</h1>

        <div id="acrescentar_safado">
            <div id="acrescentar">
                <input type="text" id="lname" name="lname"><div><a href="#.html"><img src="@Url.Content("~/img/mais.png")"></a></div>
            </div>
        </div>

    </section>

    <footer>
        <div>
            <p>Copyright © 2023 AgendMovies</p>
        </div>

        <div>
            <ol>
                <a href="#.html">
                <li><img src="~/img/insta.png"></li></a>
                <a href="#.html">
                <li><img src="~/img/face.png"></li></a>
                <a href="#.html">
                <li><img src="~/img/twitter.png"></li></a>
            </ol>
        </div>
    </footer>
</body>
</html>