<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Home</title>
    <link href="@Url.Content("~/styles/funcionario02.css")" rel="stylesheet" />
</head>
<body>
    <header>

        <div id="Header_Organizador">
            <div>
                <a href="index.html"><p><img src="~/img/Logo.png"></p></a>
            </div>

            <div>
                <a href="#.html"><p><img src="~/img/logout_branco.png"></p></a>
            </div>
        </div>
    </header>

    <section>
        <a href="funcionario03.html"><img src="~/img/mil.png"></a>
        <div id="grande_caixa">
            <div id="separador">
                <h2>Filmes que estão passando nesse horario</h2>
                <div><a href="#.html"><p>Loucura as 04:00 | |</p></a><a href="#.html"><div id="preço"><p>Sala F</p></div></a></div>
                <div><a href="#.html"><p>Riso Macabro a Palhaçada Final</p></a><a href="#.html"><div id="preço"><p>Sala A</p></div></a></div>
                <div><a href="#.html"><p>As tranças do rei careca</p></a><a href="#.html"><div id="preço"><p>Sala Ç</p></div></a></div>
                <div><a href="#.html"><p>Cidade de Jabiroca</p></a><a href="#.html"><div id="preço"><p>Sala B</p></div></a></div>
            </div>
            <div id="separador">
                <h2>Sessão das 13:00</h2>
                <div id="pedaços"><a href="#.html"><p>Ednaldo Pereira</p></a><a href="#.html"><div id="preço"><p>Visualizar</p></div></a><a href="#.html"><div id="preço"><p>Código</p></div></a></div>
                <div id="pedaços"><a href="#.html"><p>Maria Airam</p></a><a href="#.html"><div id="preço"><p>Visualizar</p></div></a><a href="#.html"><div id="preço"><p>Código</p></div></a></div>
                <div id="pedaços"><a href="#.html"><p>Neide de Lima</p></a><a href="#.html"><div id="preço"><p>Visualizar</p></div></a><a href="#.html"><div id="preço"><p>Código</p></div></a></div>
                <div id="pedaços"><a href="#.html"><p>George Almeida</p></a><a href="#.html"><div id="preço"><p>Visualizar</p></div></a><a href="#.html"><div id="preço"><p>Código</p></div></a></div>
            </div>

        </div>
    </section>
    <footer>
        <div>
            <p>Copyright © 2023 AgendMovies</p>
        </div>
        <div>
            <ol>
                <a href="#.html"><li><img src="~/img/insta.png"></li></a>
                <a href="#.html"><li><img src="~/img/face.png"></li></a>
                <a href="#.html"><li><img src="~/img/twitter.png"></li></a>
            </ol>
        </div>
    </footer>
</body>
</html>