<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-height, initial-scale=1.0">
    <title>cadastro de funcionario</title>
    <link href="@Url.Content("~/styles/Cadastro_de_Funcionario.css")" rel="stylesheet" />
</head>
<body>

    <main>
        <div class="wrapper">
            <div class="form-box_login">
                <h1>Cadastro de Funcionários</h1>
                <ion-icon name="person-circle-outline"></ion-icon>
                <div><p>Nome Completo*</p><input class="p" type="text" name="Nome" size="40" /></div>
                <div><p>CPF*</p><input class="p" type="text" name="Nome" size="40" /></div>
                <div><p>Data de Nascimento*</p><input class="p" type="text" name="Nome" size="40" /></div>
                <div><p>Telefone*</p><input class="p" type="text" name="Nome" size="40" /></div>
                <div><p>Email*</p><input class="p" type="text" name="Nome" size="40" /></div>
                <div><p>Senha*</p><input class="p" type="text" name="Nome" size="40" /></div>
                <div><p>Confirmar Senha*</p><input class="p" type="text" name="Nome" size="40" /></div>
                <div class="t">
                    <button type="submit" class="btn"><a style="text-decoration: none;" href='@Url.Action("FuncionarioCadastrado", "FuncionarioCadastrado")'>Cadastrar</a></button>
                </div>
            </div>
        </div>
        <script src="script.js"></script>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </main>
</body>
</html>